html {
  height: 100%;
}
body {
  background-color: #111111;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
h1.title {
  margin: 15px;
  font-size: 2em;
  text-decoration: none;
}
h1.title span.title_lt {
  color: #2A558C;
}
@media (max-width: 1000px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
  }
}
@media (max-width: 550px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
    margin: 8px;
  }
}
h2 {
  font-size: 3em;
  font-weight: 300;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 2em;
  }
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
b {
  font-weight: 800;
}
a {
  color: inherit;
  text-decoration: underline;
}
.center {
  text-align: center;
}
header {
  background-color: #ecf0f1;
  color: #111111;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  transition: transform 0.55s ease-in-out;
}
header.headroom--unpinned {
  /* display: none; */
  transform: translateY(-200px);
}
header.headroom--pinned {
  /* display: block; */
  transform: translateY(0);
}
header nav {
  display: block;
  text-align: center;
}
header nav ul {
  margin: 20px;
  padding: 0;
  display: block;
}
@media (max-width: 550px) {
  header nav ul {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
header nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #111111;
}
header nav ul li.active,
header nav ul li:hover {
  color: #2A558C;
}
header nav ul li a {
  display: block;
  padding: 0 14px;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  header nav ul li a {
    font-size: 1em;
  }
}
@media (max-width: 550px) {
  header nav ul li a {
    font-size: 0.8em;
  }
}
div.contentblock p {
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  div.contentblock p {
    font-size: 1em;
  }
}
div.contentblock.first_block {
  margin-top: 100px;
}
div.contentblock.fullheight {
  height: 100%;
}
div.contentblock.intro {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.intro h2 {
  font-size: 4em;
  font-weight: 300;
}
@media (max-width: 1000px) {
  div.contentblock.intro h2 {
    font-size: 2em;
  }
}
div.contentblock.intro h2 b {
  color: #2A558C;
  font-weight: 600;
}
div.contentblock.pilot {
  background: url('/static/img/cockpit_night.png');
  background-size: cover;
}
div.contentblock.engineer {
  color: #41FF00;
  background-color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 0px 0px 4px #41FF00;
}
div.contentblock.posts {
  background: #2A558C;
  color: #ecf0f1;
}
div.contentblock.posts a {
  text-decoration: underline;
}
div.contentblock.connect {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.connect a {
  text-decoration: underline;
}
div.contentblock.post .container {
  background-color: #ecf0f1;
  color: #111111;
  padding: 50px;
}
@media (max-width: 550px) {
  div.contentblock.post .container {
    padding: 10px;
  }
}
div.contentblock div.contentblock_vcentre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*Blog post styling*/
.post {
  font-size: 1em;
  line-height: 1.45;
}
.post p {
  padding: 15px 0px 15px 0px;
  margin: 0px;
}
.post p:first-child {
  padding-top: 30px;
}
.post p:last-child {
  padding-bottom: 30px;
}
.post h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 1000px) {
  .post h2 {
    font-size: 1.7em;
  }
}
.post h3 {
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 0px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
  clear: both;
}
.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post div.fw-image {
  width: 100%;
}
.post div.fw-image span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.post div.hw-image-left {
  width: 40%;
  float: left;
  margin: 30px;
}
.post div.hw-image-left span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.post div.hw-image-right {
  width: 40%;
  float: right;
  margin: 30px;
}
.post div.hw-image-right span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.post div.codehilite {
  padding: 1px 20px 1px 20px;
}
.post pre {
  white-space: pre-wrap;
  overflow: scroll;
}
.post code {
  background-color: #ddd;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ccc;
  border-width: 1px;
}
.post a {
  color: #111111;
}
.post ul {
  margin: 0px 20px 0px 20px;
}
.post ol {
  margin: 0px 20px 0px 20px;
}
