@blue: #0B1226;
@darkgrey: #111111;
@white: #ecf0f1;

html{
  height: 100%;
}
body{
  height: 100%;
  background-color: @darkgrey;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

// Text
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
a{
  color: white;
  text-decoration: underline;
}

div.contentblock{
  padding: 30px;

  &.fullheight{
    height: 100%;
  }

  &.pilot{
    background: url('/static/img/cockpit_night.png');
    background-size: cover; 
  }

  &.engineer{
    color: #41FF00;
    background-color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 0px 0px 4px #41FF00;
  }

  &.post .container{
    background-color: @white;
    color: @darkgrey;
    padding: 50px;
  }

  &.fullheight div.contentblock_vcentre{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/*Blog post styling*/
.post{
  font-size: 1em;
  line-height: 1.45;
  p{
    padding: 15px 0px 15px 0px;
    margin: 0px;
  }
  p:first-child{
    padding-top: 30px;
  }
  p:last-child{
    padding-bottom: 30px;
  }
  h2{
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    border-bottom: 2px solid;
    padding:0px;
    margin:0px;
    clear: both;
  }
  h3{
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding:0px 0px 0px 0px;
    margin:40px 0px 0px 0px;
    clear: both;
  }
  img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.fw-image{
    width: 100%;
    span.caption{
      display: block;
      text-align: center;
      font-size: 0.8em;
    }
  }
  div.hw-image-left{
    width: 40%;
    float: left;
    margin: 30px;
    span.caption{
      display: block;
      text-align: center;
      font-size: 0.8em;
    }
  }
  div.hw-image-right{
    width: 40%;
    float: right;
    margin: 30px;
    span.caption{
      display: block;
      text-align: center;
      font-size: 0.8em;
    }
  }
  div.codehilite{
    padding: 1px 20px 1px 20px;
    font-size: 18px;
  }

  pre{
    white-space: pre-wrap;
  }

  a{
    color: @darkgrey;
  }
  ul{
    margin: 0px 20px 0px 20px;
  }
  ol{
    margin: 0px 20px 0px 20px;
  }
}