html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background-color: #2d3e50;
  background-image: linear-gradient(-26.5deg, #ecf0f1 50%, #2d3e50 50%);
  background-position: 50% 50%;
  background-size: 200%;
  transition: background-position 0.1s;
  height: 100%;
  color: #ecf0f1;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
body.aviation {
  background-position: 100% 100%;
}
body.engineering {
  background-position: 0% 0%;
}
a {
  text-decoration: none;
  color: white;
}
header {
  text-align: center;
}
header h1 {
  color: white;
  font-weight: normal;
  font-size: 5em;
  margin: 20px 0px 10px 0px;
  line-height: 1em;
  text-shadow: 1px 1px 3px #2d3e50;
}
#hero {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
}
#hero #jetengine {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
#hero #circuit {
  z-index: 3;
  -webkit-clip-path: polygon(0 75%, 0% 0%, 150% 0);
  clip-path: polygon(0 75%, 0% 0%, 150% 0);
  position: absolute;
  top: 0;
  left: 0;
}
body.engineering > #hero #circuit {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
}
body.aviation > #hero #circuit {
  -webkit-clip-path: polygon(0 0%);
  clip-path: polygon(0 0%);
}
#hero #blades {
  animation: turbofan 5s infinite linear;
  transform-origin: 50% 50%;
}
#hero #gear {
  animation: turbofan 5s infinite linear;
  transform-origin: 50% 50%;
}
@keyframes turbofan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.faded {
  opacity: 0.2;
  filter: blur(3px);
}
.center {
  text-align: center;
}
#content {
  margin-top: 10px;
  color: #2d3e50;
  position: relative;
  transform: none;
  transition: filter 0.3s, opacity 0.2s;
  /*Title block styling*/
  /*Content "card" styling*/
  /*Blog post styling*/
}
#content div.title {
  background-color: #2d3e50;
  color: white;
  padding-bottom: 5px;
  text-shadow: 1px 1px 2px #080b0f;
  font-size: 0.8em;
}
#content div.title h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-align: center;
  font-weight: normal;
}
#content div.card {
  background-color: white;
  margin-top: 20px;
  border-radius: 0px;
  box-shadow: 0 0 10px 0px #2d3e50;
}
#content div.card p {
  padding: 10px 20px;
  margin: 0px;
  font-size: 1.0em;
  /*letter-spacing: 1px;*/
}
#content div.card p:first-child {
  padding-top: 20px;
}
#content div.card p:last-child {
  padding-bottom: 20px;
}
#content div.card ul {
  padding: 10px;
  margin: 0px 30px 20px 30px;
}
#content div.card ul.flip {
  margin: 5px;
}
#content div.card pre.terminal {
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: green;
  font-family: 'Courier';
}
#content div.card h3 {
  margin: 0;
  padding: 15px 15px 15px 15px;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}
#content div.card h4 {
  margin: 0;
  padding: 20px 15px 15px 10px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
}
#content div.card a {
  color: #ecf0f1;
  font-weight: bold;
}
#content #post {
  font-size: 22px;
  line-height: 1.45;
}
#content #post p {
  padding: 15px 60px 15px 60px;
}
#content #post p:first-child {
  padding-top: 60px;
}
#content #post p:last-child {
  padding-bottom: 60px;
}
#content #post h3 {
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 0px 0px 0px 0px;
  margin: 40px 30px 0px 30px;
  clear: both;
}
#content #post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#content #post div.fw-image {
  width: 100%;
}
#content #post div.fw-image span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.hw-image-left {
  width: 40%;
  float: left;
  margin: 30px;
}
#content #post div.hw-image-left span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.hw-image-right {
  width: 40%;
  float: right;
  margin: 30px;
}
#content #post div.hw-image-right span.caption {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
#content #post div.codehilite {
  padding: 1px 20px 1px 20px;
  font-size: 18px;
}
#content #post code {
  display: inline-block;
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  border: 2px solid black;
  /*background-color: black;*/
  /*color: white;*/
}
#content #post ul {
  margin: 0px 60px 0px 60px;
}
#content #post ol {
  margin: 0px 60px 0px 60px;
}
#content div#disqus_thread {
  padding: 30px;
}
canvas#myChart {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
