{% extends "index.html" %}
            {% block title %}Engineer{% endblock %}
            {% block description %}I am a Computer Engineer from the University of Toronto. I enjoy solving problems.{% endblock %}
            {% block content %}
            <div class="title">
                <h2>I'm an Engineer</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="one-third column alpha">
                        <div class="card">
                            <h3>A Computer Engineer to be precise...</h3>
                        </div>
                        <div class="card">
                            <p>I like making 1's and 0's do cool things.</p>
                            <p>Computer Engineering is a broad field. Specifically, I am primarily focussed on <b>web</b> and <b>mobile</b> development.</p>
                            <p>Essentially, I am a full stack web developer, who also happens to know a little bit about transistors, FPGAs, and control systems.</p>
                            <p>In April 2014 I graduated as a Computer Engineer from the University of Toronto</p>
                        </div>
                    </div>
                    <div class="two-thirds column card omega">
                        <pre class="terminal">
<b>mbp:~ jamesharding$</b> whois jamesharding.ca
Domain name:           jamesharding.ca
Domain status:         registered
Creation date:         2011/11/11
Expiry date:           2013/11/11
Updated date:          2019/07/07

<b>mbp:~ jamesharding$</b> telnet towel.blinkenlights.nl

                            /~\
                           |oo )     What a desolate
                           _\=/_      place this is.
           ___            /  _  \
          / ()\          //|/.\|\\
        _|_____|_       ||  \_/  ||
       | | === | |      || |\ /| ||
       |_|  O  |_|      #  \_ _/  #
        ||  O  ||          | | |
        ||__*__||          | | |
       |~ \___/ ~|         []|[]
       /=\ /=\ /=\         | | |
_______[_]_[_]_[_]________/_]_[_\____________________
                        </pre>
                    </div>
                </div>
            </div>
            {% endblock %}