{% extends "index.html" %}
            {% block title %}Engineer{% endblock %}
            {% block content %}
            <div class="title">
                <h2>I'm Nearly an Engineer</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="one-third column">
                        <div class="card">
                            <p><h3>I'm In ECE</h3></p>
                        </div>
                        <div class="card">
                            <p>No, silly! Not Early Childhood Education...</p>
                            <p>I'm in <b>Electrical and Computer Engineering</b></p>
                            <p>In April 2014 I will be graduating as a Computer Engineer from the University of Toronto</b></p>
                        </div>
                    </div>
                    <div class="two-thirds column card">
                        <pre class="terminal">
<b>webserver:~ jamesharding$</b> whois jamesharding.ca
Domain name:           jamesharding.ca
Domain status:         registered
Creation date:         2011/11/11
Expiry date:           2013/11/11
Updated date:          2013/07/07

<b>webserver:~ jamesharding$</b> touch me

<b>webserver:~ jamesharding$</b> ls
School Stuff        me           take_over_world.txt
PRISM_password_list.txt          purrr

<b>webserver:~ jamesharding$</b> cat purrr

<b>webserver:~ jamesharding$</b> make love
make: *** No rule to make target `love`.  Stop.
                        </pre>
                    </div>
                </div>
            </div>
            {% endblock %}