{% extends "index.html" %}
            {% block title %}Happy Father's Day{% endblock %}
            {% block description %}Hidden Page for Father's Day{% endblock %}
            {% block content %}
            <div class="title">
                <h2>Hi, Dad</h2>
            </div>
            <script type="text/javascript">
                var update = function(){
                    console.log("Running Update Function");
                    var update_days = $('#update_days');
                    var now = new Date();
                    var then = new Date(1992,08,18);
                    var diff = now - then;

                    var msec = diff;
                    var dd = Math.floor(msec / 1000 / 60 / 60 /24);
                    msec -= dd *1000 * 60 * 60 * 24;
                    var hh = Math.floor(msec / 1000 / 60 / 60);
                    msec -= hh * 1000 * 60 * 60;
                    var mm = Math.floor(msec / 1000 / 60);
                    msec -= mm * 1000 * 60;
                    var ss = Math.floor(msec / 1000);
                    msec -= ss * 1000;


                    var update_days_string = dd + " days " + hh + " hours and " + ss + " seconds ";
                    update_days.html(update_days_string);
                    console.log("Finished Running Update Function");
                }

                update();
                setInterval(update, 1000);
            </script>
            <style>


            </style>
            <div class="container">
                <div class="row">
                    <div id="post" class="sixteen columns card">
                        <h3>Happy Father's Day</h3>
                        <p class="center">You have been the most fantastic father for<br><b><span id="update_days"></span></b>.</p>

                        <h3>You've Loved Me</h3>
                        <div class="fw-image">
                            <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/1658635_10152415041912173_7870355537402530681_o.jpg">
                        </div>

                        <h3>And Inspired Me</h3>
                        <div class="fw-image">
                            <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn2/t31.0-8/1082412_10151759666657173_1591506862_o.jpg">
                        </div>

                        <h3>And Let Me Climb On You</h3>
                        <div class="fw-image">
                            <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/10668_10151655013367173_118515285_n.jpg">
                        </div>

                        <h3>And Inspired Me Some More</h3>
                        <div class="fw-image">
                            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/25377_383413152172_2187671_n.jpg">
                        </div>

                        <h3>And Jumped With Me</h3>
                        <div class="fw-image">
                            <img src="https://scontent-b-lga.xx.fbcdn.net/hphotos-prn1/t1.0-9/67289_449897312172_4919468_n.jpg">
                        </div>

                        <h3>Taught Me To Work Hard...</h3>
                        <div class="fw-image">
                            <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-xap1/t1.0-9/1459232_10152016505157173_553357239_n.jpg">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/459259_10150719066597173_460460784_o.jpg">
                        </div>

                        <h3>...And Play Hard</h3>
                        <div class="fw-image">
                            <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10175971_10152378471927173_4010180937467438277_n.jpg">
                            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/1929711_21489527172_6368_n.jpg">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/10329963_10152128354095671_3312438387125062811_o.jpg">
                        </div>

                        <br><br><br><br><br><br><br><br><br><br>
                        <h3>But Most of All...</h3>
                        <p>You make me proud to be your son.</p>
                        <p>As I now prepare to begin my own journey, I know in my heart that you have been preparing me my whole life, by setting the best example.
                        You have given me everything that a son could ask for, and now it is my chance to make you proud.</p>
                        <p>Thank you daddy-cool!</p>
                    </div>
                </div>
            </div>
            {% endblock %}