{% extends "index.html" %}
            {% block title %}Computer Engineer, Pilot, Tech Lover, and Web Developer{% endblock %}
            {% block content %}
            <script type="text/javascript">
            $(document).ready(function(){
                $('.dynamo').dynamo();
            });
            </script>
            <div style="position: fixed; z-index: -99; width: 100%; height: 100%; top:0px; left: 0px">
              <iframe frameborder="0" height="100%" width="100%"
                src="https://youtube.com/embed/ACMtKKNMozs?autoplay=1&controls=0&showinfo=0&autohide=1&volume=0">
              </iframe>
            </div>
                <!--
            <div id="im_a">
                <div class="container">
                    <div id="hello" class="dynamo" data-center="true"
                        data-lines="
                        Aloha!,
                        G'day!,
                        Privet!,
                        Hola!,
                        Shalom!,
                        Bonjour!,
                        你好!,
                        おはよう!,
                        Guten Tag!,
                        Kaltxì!,
                        Yarrrrr!" data-delay="6000">
                        Hello!</div>
                    <div class="small">I Am:</div>
                    <div id="noun" class="dynamo" data-center="true" data-lines="
                        A Pilot,
                        A Legal Alien,
                        Not an Englishman In New York,
                        An Improving AoE2 Player,
                        A Popcorn Consumer,
                        A Web Developer,
                        A Shawarma Snacker,
                        Nearly an Engineer,
                        A Brother,
                        A Photo Taker,
                        A Glider Instructor,
                        A Best Friend,
                        A Boyfriend,
                        A Nobel Peace Prize Recipient 2012,
                        A Soundtrack Addict,
                        A Lifeguard,
                        A Student,
                        A Musician,
                        A Son,
                        A Tax Payer,
                        A Dog's Best Friend,
                        A Time Person of the Year Winner 2006" data-delay="3000">
                        James</div>
                </div>
            </div>
            -->
            {% endblock %}