{% extends "index.html" %}
            {% block title %}Pilot{% endblock %}
            {% block description %}As a Pilot and Flight Instructor, aviation is a huge part of my life.{% endblock %}
            {% block content %}
            <div class="title">
                <h2>I'm A Pilot</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="one-third column card">
                        <p>I <s>quite enjoy</spilot.html> <b>LOVE</b> flying airplanes. I currently hold my <b>Private Pilot License</b> and <b>Glider Pilot Instructor Rating</b>.</p>
                        <p>During the summer months, I work at the Central Region Gliding School as a flight instructor, teaching both in air lessons and ground school. On weekends during the year, I work at my local gliding center, providing familiarization flights to junior cadets, many of whom have never experienced flight before!</p>
                    </div>
                    <div class="two-thirds column card">
                        <p><img width="100%" src="{{ url_for('static', filename='img/flying.jpg') }}"</p>
                    </div>
                    <div class="two-thirds column card">
                        <p><iframe src="http://player.vimeo.com/video/49050544?portrait=0" width="100%" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
                    </div>
                    <div class="one-third column card">
                        <p>I have also received the accolades of <b>Top Overall Glider Pilot</b> in 2009 while at CRGS and <b>Top Overall Power Pilot</b> at Durham Flying Centre in 2010, also through the Royal Canadian Air Cadet program.</p>
                        <p>I am honoured to have been selected as part of British Airways' <b>Future Pilot Programme</b> which will be commencing in June 2014.</p>
                    </div>
                </div>
            </div>
            {% endblock %}