{% extends "index.html" %}
            {% block title %}Posts{% endblock %}
            {% block description %}Listing of written articles by James Harding.{% endblock %}
            {% block content %}
            <div class="title">
                <h2>My Posts</h2>
            </div>

            <div class="container">
                <div class="row">
                	<div class="one-third column">
                		<div class="card">
                			<h3>What's This?</h3>
                		</div>
                		<div class="card">
                			<p>A place for me to write about that in which I am interested... <b>aviation, software, technology</b>.</p>
                		</div>
                		
                	</div>
                    <div class="two-thirds column card">
                        {% for post in posts %}
                        	<p>
			            		<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}" class="internal">
					            	{{ post.title }}
					        	</a><br>
					        	<small>{{ post.date }}</small>
				        	</p>
		            	{% endfor %}
                    </div>
     			</div>
            </div>
            {% endblock %}