{% extends "index.html" %}
            {% block title %}Resume{% endblock %}
            {% block description %}Professional resume for James Harding: Software Engineer and Commercial Pilot{% endblock %}
            {% block content %}
            <script type="text/javascript">
                $(document).ready(function(){
                    var ctx = document.getElementById("myChart").getContext("2d");
                    var data = {
                        labels : ["MATLAB","PHP","JS","SQL","C++","Java","Python","HTML","CSS"],
                        datasets : [
                            {
                                fillColor : "rgba(52, 152, 219,0.7)",
                                strokeColor : "rgba(44, 62, 80,1.0)",
                                pointColor : "rgba(41, 128, 185,1.0)",
                                pointStrokeColor : "rgba(44, 62, 80,1.0)",
                                data : [10,50,60,70,80,90,95,95,95]
                            }
                        ]
                    }
                    var options = {

                        //Boolean - If we show the scale above the chart data
                        scaleOverlay : false,

                        //Boolean - If we want to override with a hard coded scale
                        scaleOverride : true,

                        //** Required if scaleOverride is true **
                        //Number - The number of steps in a hard coded scale
                        scaleSteps : 10,
                        //Number - The value jump in the hard coded scale
                        scaleStepWidth : 10,
                        //Number - The scale starting value
                        scaleStartValue : 0,

                        //String - Colour of the scale line
                        scaleLineColor : "rgba(0,0,0,.1)",

                        //Number - Pixel width of the scale line
                        scaleLineWidth : 1,

                        //Boolean - Whether to show labels on the scale
                        scaleShowLabels : false,

                        //Interpolated JS string - can access value
                        scaleLabel : "<%=value%>",

                        //String - Scale label font declaration for the scale label
                        scaleFontFamily : "'Arial'",

                        //Number - Scale label font size in pixels
                        scaleFontSize : 16,

                        //String - Scale label font weight style
                        scaleFontStyle : "normal",

                        //String - Scale label font colour
                        scaleFontColor : "#666",

                        ///Boolean - Whether grid lines are shown across the chart
                        scaleShowGridLines : false,

                        //String - Colour of the grid lines
                        scaleGridLineColor : "rgba(0,0,0,.05)",

                        //Number - Width of the grid lines
                        scaleGridLineWidth : 1,

                        //Boolean - If there is a stroke on each bar
                        barShowStroke : true,

                        //Number - Pixel width of the bar stroke
                        barStrokeWidth : 0,

                        //Number - Spacing between each of the X value sets
                        barValueSpacing : 10,

                        //Number - Spacing between data sets within X values
                        barDatasetSpacing : 1,

                        //Boolean - Whether to animate the chart
                        animation : true,

                        //Number - Number of animation steps
                        animationSteps : 400,

                        //String - Animation easing effect
                        animationEasing : "easeInOutExpo",

                        //Function - Fires when the animation is complete
                        onAnimationComplete : null

                    }
                    var myNewChart = new Chart(ctx).Bar(data,options);
                });
            </script>

            <div class="title">
                <h2>Resume</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="one-third column">
                        <div class="card">
                            <h3>James Harding</h3>
                        </div>
                        <div class="card">
                            <p>I am a commerical pilot, and also a computer engineer who is passionate about technology and software.</p>
                            <p>In my spare time I love flying, programming, photography, videography, and website development!</p>
                        </div>
                    </div>
                    <div class="two-thirds column">
                        <div class="card">
                            <h3>Education</h3>
                        </div>
{#                        <div class="one-third column alpha card">#}
{#                            <p><b>Centennial CVI</b><br>2006 - 2010</p>#}
{#                            <p>94% Average<br>Honours</p>#}
{#                        </div>#}
                        <div class="one-third column alpha card">
                            <p><b>FTEJerez</b><br>2014 - 2015</p>
                            <p>97% EASA ATPL Exam Average
                                <br>
                                CPL(A) SEP/MEP
                            </p>
                        </div>
                        <div class="one-third column omega card">
                            <p><b>University of Toronto</b><br>Computer Engineering<br>2010 - 2014</p>
                            <p>Graduation GPA: 3.5/4.0<br>Top 25% Ranking</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen columns card">
                        <h3><i class="icon-check"></i> Professional Skills</h3>
                    </div>
                    <div class="eight columns card">
                        <canvas id="myChart" width="600" height="400"></canvas>
                    </div>
                    <div class="eight columns">
                        <div class="card">
                            <p>Having been employed professionally as a software engineer and worked freelance contracts, I have extensive real-world programming experience.<br><br>Read on for work examples.</p>
                        </div>
                        <div class="card">
                            <p>In addition to my software knowledge, I am also qualified as a <b>Commercial Pilot</b> and as a <b>Glider Instructor/Check Pilot</b>.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen columns card">
                        <h3><i class="icon-briefcase"></i> Relevant Experience</h3>
                    </div>
                    <div class="eight columns">
                        <div class="card">
                            <h4><a href="http://www.eventmobi.com/" target="_blank">EventMobi</a> Software Engineer</h4>
                            <ul>
                                <li>Automated API documentation system <b>(Python)</b></li>
                                <li>Added LinkedIn profile integration to EventMobi account <b>(JS)</b></li>
                                <li>Pinch-to-zoom maps with zoom to location <b>(JS)</b></li>
                                <li>In-app rich banner ads <b>(PHP, JS, CSS, SQL)</b></li>
                            </ul>
                        </div>
                        <div class="card">
                            <h4>GateMate <small>(in development)</small></h4>
                            <ul>
                                <li>RESTful API design and implementation <b>(Python, Flask)</b></li>
                                <li>Database relationship structure design <b>(SQL)</b></li>
                                <li>Integration with third-party flight APIs <b>(Python)</b></li>
                                <li>Android application which uses the API <b>(Java, Android SDK)</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="eight columns">
                        <div class="card">
                            <h4><a href="http://www.yourenext.ca/" target="_blank">You're Next</a> Lead Developer</h4>
                            <ul>
                                <li>Beautiful front end design <b>(HTML, CSS)</b></li>
                                <li>Custom built ajax/standard hybrid navigation engine <b>(JS)</b></li>
                                <li>Company registration and stripe payment API integration <b>(Python, Flask)</b></li>
                                <li>Database-driven company dashboard panel <b>(Flask, SQLAlchemy)</b></li>
                            </ul>
                        </div>
                        <div class="card">
                            <h4>Various Projects</h4>
                            <ul>
                                <li><a href="https://github.com/jamesharding/PacManAI" target="_blank">PacMan AI Hackathon</a></li>
                                <li><a href="https://github.com/jamesharding/PoolTableSimulator" target="_blank">Pool table physics simulation</a></li>
                                <li><a href="https://github.com/jamesharding/VersionControl" target="_blank">SVN-like version control system</a></li>
                                <li><a href="https://github.com/jamesharding/DigitalStatusBoard" target="_blank">Status screen built on contract for U of T</a></li>
                                <li>Check out my <a href="https://github.com/jamesharding?tab=repositories" target="_blank">Github profile</a> for more examples</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen columns card">
                        <h3><i class="icon-star"></i> Awards/Accomplishments</h3>
                    </div>
                    <div class="one-third column card">
                        <h4>Top 40 Under 40</h4>
                        <p>Recipient of one of Guelph's <em>40 Under 40</em> awards for my involvement with the local cadet squadron, and my performance on the Glider Pilot Scholarship course.</p>
                    </div>
                    <div class="one-third column card">
                        <h4>Top Pilot</h4>
                        <p>Top overall student, based on flight test and written test score aggregate.<br><br>Awarded the ANAVETS medal as a result.</p>
                    </div>
                    <div class="one-third column card">
                        <h4>Lord Strathcona </h4>
                        <p>The higest award that can be bestowed upon a cadet.<br><br>Awarded for demonstrating outstanding leadership and physical fitness.</p>
                    </div>
                </div>
            </div>
            {% endblock %}