{% extends "index.html" %}
            {% block title %}Work Experience{% endblock %}
            {% block description %}Details of my previous work, including volunteering and paid positions.{% endblock %}
            {% block content %}
            <div class="title">
                <h2>I Work Hard For The Money</h2>
            </div>
            <div class="container">
                <div class="row" style="margin-top:30px;">
                    <iframe src='http://embed.verite.co/timeline/?source=0Av0BhMdNyrTzdG9NYWlDdF9BUzBtellYdlZKdHZjc1E&font=Bevan-PotanoSans&maptype=toner&lang=en&start_at_end=true&start_zoom_adjust=2&height=450' width='100%' height='450' frameborder='0'></iframe>
                </div>
            </div>
            {% endblock %}